/*************************/
/* SITE FOOTER */
/*************************/


#siteFooter{

    @apply pt-20;
    @apply pb-10;

    @apply w-screen;

    @apply flex;
    @apply flex-col;
    @apply gap-12;
    @apply items-center;

    @apply bg-black;

    @apply text-xs;
    @apply text-white;
    @apply font-bold;
    @apply uppercase;



    /* FOOTER LINKS */

    
    a{
        @apply no-underline;
    }


    
    /* LOGO */


    a.logo{

        @apply font-logo;

    }



    /* UNORDERED LISTS */
    

    ul{

        @apply flex;
        @apply items-center;
        @apply tracking-tight;


        li{

            a{

                @apply hover-rise;
                @apply hover-inflate;

            }

        }

    }



    /* MENU */


    ul.menu{

        @apply px-6;
        @apply py-4;

        @apply flex-col;
        @apply md:flex-row;
        @apply gap-12;

        @apply border-y;
        @apply border-slate-800;
        
    }



    /* SOCIALS */


    ul.socials{

        @apply gap-6;        
        

        li{

            @apply first:pr-2;
            @apply first:text-gray-400;


            a{

                @apply text-lg;

            }

        }

    }



    /* LEGALS */


    div.legals{

        @apply flex;
        @apply gap-0;

        @apply text-xs;
        @apply text-gray-400;
        @apply font-light;
        @apply normal-case;


        span{


            a{

                @apply text-yellow-200;

                @apply no-underline;
                @apply underline-offset-2;

                @apply hover:underline;

            }

        }


        span::after{

            @apply ml-1;
            @apply mr-2;

            content: '\00b7';

        }


        span:last-child::after{

            @apply mx-0;
            content: '';

        }

    }


}