@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';




/*************************/
/* GOOGLE FONTS */
/*************************/


.font-nunito{

    font-family: 'Nunito', sans-serif;  

}


.font-poppins{

    font-family: 'Poppins', sans-serif;

}


.font-roboto{

    font-family: 'Roboto', sans-serif;

}


.font-roboto-slab{

    font-family: 'Roboto Slab', serif;

}




/*************************/
/* BODY TEXT */
/*************************/


body{
    @apply font-poppins;
}




/*************************/
/* HEADING TEXT */
/*************************/


h1,h2,h3,h4,h5,h6{

    @apply text-center;

}


h1, .heading-1{

    @apply py-5;
    
    @apply text-4xl;
    @apply sm:text-5xl;
    
    @apply font-black;
    @apply font-roboto-slab;
    @apply tracking-tight;

}


h2, .heading-2{

    @apply mb-10;
    @apply text-2xl;
    @apply sm:text-3xl;
    @apply font-thin;

}


h3, .heading-3{

    @apply text-xl;
    @apply font-bold;
    @apply mb-5;

}




/*************************/
/* TEXT GLOBALS */
/*************************/


p{

    @apply mb-4;

}


a{

    @apply no-underline;
    @apply underline-offset-2;

    @apply hover-dip;
    @apply hover:no-underline;
    @apply hover:translate-y-0.5;

}




/*************************/
/* LOGO FONT */
/*************************/


.font-logo{

    @apply text-3xl;
    @apply font-black;
    @apply font-roboto-slab;
    @apply normal-case;
    @apply tracking-tighter;
    
}