@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';




/*************************/
/* GOOGLE FONTS */
/*************************/


.font-nunito {
    font-family: 'Nunito', sans-serif;  
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-roboto-slab {
    font-family: 'Roboto Slab', serif;
}




/*************************/
/* BODY */
/*************************/


body{
    @apply font-poppins;
}




/*************************/
/* LOGO FONT */
/*************************/


.font-logo{

    @apply text-3xl;
    @apply font-black;
    @apply font-roboto-slab;
    @apply normal-case;
    @apply tracking-tighter;
    
}




/*************************/
/* NAVIGATION */
/*************************/


#siteNav{
    @apply font-roboto-slab;
    @apply font-black;
}



